<div class="panel panel-default">
    <div class="panel-heading"><b>Partial View</b></div>
    <div class="panel-body">
        <b>Definições:</b>
        <p>
            <i>@MvcPartialView.Models.GlossarioArquitetura.ObterDefinicao() </i>
        </p>
    </div>
</div>
